**Basic List's Problems**

**1. Create a list of 5 numbers and print the second element.**

In [1]:
num = [10, 20, 30, 40, 50]

print("Second Element: ", num[1])

Second Element:  20

****2. Create a list with 3 different fruits and add one more fruit to the list.****

In [3]:
fruits = ['Apple', 'Banana', 'Wattermelon']
fruits.append('Orange')

print("Updated fruit list is: ",fruits)

Updated fruit list is:  ['Apple', 'Banana', 'Wattermelon', 'Orange']

**3. Remove the first item from a list of 4 colors.**

In [4]:
colors= ['Black', 'White', 'Blue', 'Green']

colors.pop(0)

print("After removing the first color: ", colors)

After removing the first color:  ['White', 'Blue', 'Green']

**4. Find the length of a list that contains 7 items.**

In [5]:
item = [1, 2, 3, 4, 5, 6, 7]

print("The length of the list: ", len(item))

The length of the list:  7

**5. Access and print the last element of a list containing 6 elements.**

In [6]:
elements = [1, 2, 3, 4, 5, 6]

print("The last element:", elements[-1])

The last element: 6

**6. Create a list of 5 numbers and find the sum of all the numbers in the list.**

In [7]:
num = [5, 6, 7, 8, 20]

print("sum of the numbers: ", sum(num))

sum of the numbers:  46

**7. Create a list of 3 names and change the second name to a new name.**

In [8]:
name = ['shahriar', 'Emon', 'Sakib']
name[1] = "Shourov"

print("Updated Name list: ", name)

Updated Name list:  ['shahriar', 'Shourov', 'Sakib']

**8. Check if the number 10 is in a list of numbers from 1 to 5.**

In [9]:
numbers = [1, 2, 3, 4, 5]
print("Is 10 in the list?", 10 in numbers)

Is 10 in the list? False

**9. Create a list with 3 animals and print each animal using a loop.**

In [10]:
animals = ['cat', 'dog', 'rabit']

for animal in animals:
    print(animals)

['cat', 'dog', 'rabit']
['cat', 'dog', 'rabit']
['cat', 'dog', 'rabit']

**10. Create a list of 5 numbers and find the largest number in the list.**

In [11]:
num = [1, 2, 3, 4, 5]

print("Largest number: ", max(numbers))

Largest number:  5