### `Problem 1` - Print the following pattern. Write a program to use for loop to print the following reverse number pattern.

```bash
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1
```

In [1]:
# Code here

for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end = ' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### `Problem 2`: Print the following pattern.

```bash
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*
```

In [5]:
# Code here

# Increasing part
for i in range(1, 6):  
    print('* ' * i)

# Decreasing part
for i in range(4, 0, -1): 
    print('* ' * i)

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

### `Problem 3`:Write a program to pring the following pattern

        *
      * * *
    * * * * *
   * * * * * * *
* * * * * * * * *

In [10]:
# Code here

row = 3

for i in range(1, row + 1):
    space = '  ' * (row - i)
    stars = '* ' * (2 * i - 1)
    print(space + stars)

    *
  * * *
* * * * *

### `Problem 4`:Write a program to print the following pattern

1

2 1

3 2 1

4 3 2 1

5 4 3 2 1

In [12]:
# Code here

for i in range(1, 6):
    for j in range(i, 0, -1):
        print(j, end = '')
    print()

1
21
321
4321
54321

### `Problem 5`: Write a Python Program to Find the Sum of the Series till the nth term:<br>
1 + x^2/2 + x^3/3 + â€¦ x^n/n<br>
n will be provided by the user

In [14]:
# Code here
# x = 2
# n = 4

x = float(input("Enter the value of x: "))
n = int(input("Enter the value of terms (n): "))


sum_series = 1

for i in range(2, n + 1):
    term = (x ** i) / i
    sum_series += term
print("Sum of the series: ", sum_series)

Sum of the series:  9.666666666666666

### `Problem 6` - Find the sum of the series upto n terms.
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690. Take the user input and then calculate. And the output style should match which is given in the example.

**Example 1:**

`Input:`
```bash
5
```

`Output:`

```bash
2+22+222+2222+22222
Sum of above series is: 24690
```

In [3]:
# Code here

n = int(input("Enter the term: "))
term = 2

total_sum = 0

print("Series: ", end = ' ')

for i in range (1, n + 1):
    print(term, end=' ')
    total_sum +=term
    if i !=n:
        print(" + ", end=" ")
    term = term * 10 + 2
print("\n\nSum of above series is: ", total_sum)

Series:  2  +  22  +  222  +  2222  +  22222

Sum of above series is:  24690

### `Problem 7`: Write a program to print all the unique combinations of 1,2,3 and 4

`Output`:
```
1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
.
.
and so on
```

In [4]:
# Code here

import itertools

numbers = [1, 2, 3, 4]

perms = itertools.permutations(numbers)

for p in perms:
    for num in p:
        print(num, end=' ')
    print()

1 2 3 4
1 2 4 3
1 3 2 4
1 3 4 2
1 4 2 3
1 4 3 2
2 1 3 4
2 1 4 3
2 3 1 4
2 3 4 1
2 4 1 3
2 4 3 1
3 1 2 4
3 1 4 2
3 2 1 4
3 2 4 1
3 4 1 2
3 4 2 1
4 1 2 3
4 1 3 2
4 2 1 3
4 2 3 1
4 3 1 2
4 3 2 1