### **Tuples:**

**1. Create a tuple with 5 elements and print the second element.**

In [4]:
fruits = ("Apple", "Banana", "Orange", "Cherry", "Date")

print("Tuples: ", {fruits})
print(f"Second Element: {fruits[1]}")

Tuples:  {('Apple', 'Banana', 'Orange', 'Cherry', 'Date')}
Second Element: Banana

**2. Create a tuple of numbers and find the maximum and minimum values in the tuple.**

In [7]:
numbers = (45, 12, 67, 89, 200, 566, 92)

print(f"Numbers in tuples: ", numbers)
print(f"The maximum number is: {max(numbers)}")
print(f"The maximum number is: {min(numbers)}")

Numbers in tuples:  (45, 12, 67, 89, 200, 566, 92)
The maximum number is: 566
The maximum number is: 12

**3. Create a tuple with mixed data types (int, string, float) and print each element using a loop.**

In [ ]:
mixed_data = (12, "shahriar", 44.44, "Emon")

print("The mixed data in tuples: ", mixed_data)

for i, element in enumerate(mixed_data):
    print(f"Index {i}: {element} (type: {type(element).__name__})")

The mixed data in tuples:  (12, 'shahriar', 44.44, 'Emon')
Index 0: 12 (type: int)
Index 1: shahriar (type: str)
Index 2: 44.44 (type: float)
Index 3: Emon (type: str)

**4. Try to modify an element in a tuple and see what happens!**

In [14]:
digits = (12, 23, 45, 67, 89, 90)

print(digits)

try:
    digits[0] = 100
except TypeError as e:
    print({e})

print(digits)

(12, 23, 45, 67, 89, 90)
{TypeError("'tuple' object does not support item assignment")}
(12, 23, 45, 67, 89, 90)

**5. Create a tuple with 3 names and concatenate it with another tuple of 3 more names.**

In [ ]:
names1 = ("Shahriar", "Emon", "sakib")
names2 = ("shourov", "Awal", "Asad", )

print(names1, names2)

('Shahriar', 'Emon', 'sakib') ('shourov', 'Awal', 'Asad')

#**6. Find the index of a particular element in a tuple.**

In [6]:
colors = ("red", "White", "black", "blue", "yellow", "green")

print(colors)

findings = "black"

if findings in colors:
    index = colors.index(findings)
print(f"The finding element is {findings} in index: ",index)

('red', 'White', 'black', 'blue', 'yellow', 'green')
The finding element is black in index:  2

**7. Create a tuple with repeated values and count how many times a specific element appears.**

In [15]:
repeated_tuples =(1, 4, 2, 4, 3, 4, 3, 5, 8, 9, 5, 6)

target_number = 4

print(f"Repeated Tuples: {repeated_tuples}")
print(f"The repeated counting occurance of: {target_number}")

count = repeated_tuples.count(target_number)
print(f"The targeted number {target_number} appears {count} times")

Repeated Tuples: (1, 4, 2, 4, 3, 4, 3, 5, 8, 9, 5, 6)
The repeated counting occurance of: 4
The targeted number 4 appears 3 times

**8. Create a tuple and access its last element.**

In [18]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8)

print(f"Created tuples: {numbers}")

#We can access the last element with two ways

# First Way

print(f"The last Element is: {numbers[-1]}")

#second way

print(f"The last Element is: {numbers[len(numbers) -1]}")

Created tuples: (1, 2, 3, 4, 5, 6, 7, 8)
The last Element is: 8
The last Element is: 8

**9. Create a tuple of 3 numbers and use a loop to calculate the sum of the elements.**

In [22]:

numbers = (44, 43, 50)

print(f"Numbers: {numbers}")

# First way to solve this problem

total = 0

for number in numbers:
    total += number
print(f"the sum is: {total}")


# built in sum function 

sum_of_numbers = sum(numbers)
print(f"The sum is: {sum_of_numbers}")

Numbers: (44, 43, 50)
the sum is: 137
The sum is: 137

**10. Convert a list to a tuple and print it.**

In [26]:
the_list = [1, 2, 3, 4, 5, 6, 7]
print(f"The list: {the_list} (type: {type(the_list).__name__})")


# converting list to tuples

converted_tuples = tuple(the_list)
print(f"converted tuples: {converted_tuples} (type: {type(converted_tuples).__name__})")

The list: [1, 2, 3, 4, 5, 6, 7] (type: list)
converted tuples: (1, 2, 3, 4, 5, 6, 7) (type: tuple)

### **Sets:**

**1. Create a set with 5 numbers and print it.**

In [29]:
num_set = {1, 2, 3, 4, 5}

print(f"Name in this set: {num_set}")

Name in this set: {1, 2, 3, 4, 5}

**2. Add a new element to a set and print the updated set.**

In [32]:
name_set = {"shahriar", "Emon", "Sakib", "Shourov", "Awal"}

print(f"Name of this set: {name_set}")

name_set.add("Nill")
print(f"Updated Set after adding(nill): {name_set}")

Name of this set: {'Awal', 'Sakib', 'Shourov', 'shahriar', 'Emon'}
Updated Set after adding(nill): {'Awal', 'Sakib', 'Shourov', 'shahriar', 'Emon', 'Nill'}

**3. Remove an element from a set using `remove()` and print the set.**

In [40]:
name_set = {"shahriar", "Emon", "Sakib", "Shourov", "Awal"}

print(f"Name of this set: {name_set}")


name_set.remove("Awal")
print(f"After removing element: {name_set}")

Name of this set: {'Awal', 'Sakib', 'Shourov', 'shahriar', 'Emon'}
After removing element: {'Sakib', 'Shourov', 'shahriar', 'Emon'}

**4. Use the `pop()` method to remove and print a random element from a set.**

In [42]:
animals_set = {"cat", "dog", "bird", "fish", "rabbit"}

remove_animal = animals_set.pop()

print(f"Remove element: {remove_animal}")
print(f"Updated set: {animals_set}")

Remove element: cat
Updated set: {'bird', 'dog', 'rabbit', 'fish'}

**5. Create a set with duplicate elements and print it to show that duplicates are removed.**

In [ ]:
# duplicate_numbers = {1, 2, 3, 2, 4, 1, 5, 3}

# print(f"set with duplicate numbers: {duplicate_numbers}")

# print(f"Unique elements count: {len(duplicate_numbers)}")


original_list = [1, 2, 2, 3, 3, 3, 4, 4, 5]
unique_set = set(original_list)

unique_list = list(unique_set)
print(f"After conversion: {unique_set}")

After conversion: {1, 2, 3, 4, 5}

**6. Check if a specific number is present in a set.**

In [49]:
animals_set = {"cat", "dog", "bird", "fish", "rabbit"}

print(f"Animals: {animals_set}")

check_animal = ["cat", "dog", "bird", "fish", "rabbit"]
for animal in animals_set:
    if animal in animals_set:
        print(f"{animal} is in set")
    else:
        print(f"{animal} is not in the set")

Animals: {'cat', 'bird', 'dog', 'rabbit', 'fish'}
cat is in set
bird is in set
dog is in set
rabbit is in set
fish is in set

**7. Perform a union of two sets and print the result.**

In [55]:
set1 = {1, 2, 3, 4, 9, 3}
set2 = {3, 4, 5, 6, 7, 8}


union_result = set1 | set2
print(f"The union result: {union_result}")


print("using union method.")

union_method = set1.union(set2)
print(f" The union using union method: {union_method}")

The union result: {1, 2, 3, 4, 5, 6, 7, 8, 9}
using union method.
 The union using union method: {1, 2, 3, 4, 5, 6, 7, 8, 9}

**8. Find the intersection of two sets and print the result.**

In [59]:
set1 = {1, 2, 3, 4, 9, 3}
set2 = {3, 4, 5, 6, 7, 8}

print(set1, set2)

intersection_method = set1.intersection(set2)
intersection_res = set1 & set2

print(f"The result using the intersection method: {intersection_method}")
print(f"The result using opretor: {intersection_res}")

{1, 2, 3, 4, 9} {3, 4, 5, 6, 7, 8}
The result using the intersection method: {3, 4}
The result using opretor: {3, 4}

**9. Create two sets and find the difference between them.**

In [ ]:
all_employee = {"Shahriar", "Emon", "Nasim", "Tahia", "Ramim", "Imon"}
remote_employee = {"Tahia", "Emon"}

print(all_employee, remote_employee)

employee = all_employee - remote_employee
employee

{'Ramim', 'Shahriar', 'Emon', 'Nasim', 'Imon', 'Tahia'} {'Emon', 'Tahia'}

{'Imon', 'Nasim', 'Ramim', 'Shahriar'}

**10. Iterate over a set and print each element.**

In [6]:
cities = {"Dhaka", "Chittagong", "Cumilla", "Syllet", "Rajshahi"}

print(f"Cities: {cities}")

for i, city in enumerate(cities, 1):
    print(f" {i}. {city}")

Cities: {'Cumilla', 'Syllet', 'Chittagong', 'Rajshahi', 'Dhaka'}
 1. Cumilla
 2. Syllet
 3. Chittagong
 4. Rajshahi
 5. Dhaka

### **Dictionaries:**

**1. Create a dictionary with 3 key-value pairs and print it.**

In [9]:
student = {
    "name": "Shahriar Emon",
    "Id" : 223071044,
    "Major": "Data Science"
}
student

{'name': 'Shahriar Emon', 'Id': 223071044, 'Major': 'Data Science'}

**2. Access a value from a dictionary using its key.**

In [15]:
student = {
    "name": "Shahriar Emon",
    "Id" : 223071044,
    "Major": "Data Science"
}
print(f"dictionary: {student}")
print(f"Name: {student['name']}")


# .get() method
student = {
    "name": "Shahriar Emon",
    "Id" : 223071044,
    "Major": "Data Science"
}

print(f"Dictionary: {student}")
print(f"Student Name: {student.get('name')}")

dictionary: {'name': 'Shahriar Emon', 'Id': 223071044, 'Major': 'Data Science'}
Name: Shahriar Emon
Dictionary: {'name': 'Shahriar Emon', 'Id': 223071044, 'Major': 'Data Science'}
Student Name: Shahriar Emon

**3. Add a new key-value pair to an existing dictionary and print the dictionary.**

In [17]:
student = {
    "name": "Shahriar emon",
    "id": 223072044,
    "major": "Data Science" 
}

print(f"Student information: {student}")

student["age"] = 23
student['contact'] = "shahriaremon964@gmail.com"

print(f"After adding age and contact: {student}")

Student information: {'name': 'Shahriar emon', 'id': 223072044, 'major': 'Data Science'}
After adding age and contact: {'name': 'Shahriar emon', 'id': 223072044, 'major': 'Data Science', 'age': 23, 'contact': 'shahriaremon964@gmail.com'}

**4. Update the value of an existing key and print the updated dictionary.**

In [19]:
student = {
    "name": "Shahriar emon",
    "id": 223072044,
    "major": "Data Science" 
}
print(f"Original dictionary: {student}")
student['name'] = "Al Shahriar Emon"
student['major'] = "Data Science and Machine Learning"


print(f"After updating the value of name, major: {student}")

Original dictionary: {'name': 'Shahriar emon', 'id': 223072044, 'major': 'Data Science'}
After updating the value of name, major: {'name': 'Al Shahriar Emon', 'id': 223072044, 'major': 'Data Science and Machine Learning'}

**5. Remove a key-value pair from a dictionary using `del` and print the dictionary.**

In [23]:
book_info = {
    "title": "Python for Data Science",
    "author": "Shahriar",
    "isbn": "978-1234567890",
    "pages": 350,
    "price": 29.99,
    "publisher": "Tech Books"
}

print(f"Original information: {book_info}")

del book_info['isbn']
print(f"After removing the isbn: {book_info}")

Original information: {'title': 'Python for Data Science', 'author': 'Shahriar', 'isbn': '978-1234567890', 'pages': 350, 'price': 29.99, 'publisher': 'Tech Books'}
After removing the isbn: {'title': 'Python for Data Science', 'author': 'Shahriar', 'pages': 350, 'price': 29.99, 'publisher': 'Tech Books'}

**6. Use the `pop()` method to remove and return a value from a dictionary.**

In [27]:
inventory_kg= {
    "apples": 50,
    "bananas": 30,
    "oranges": 25,
    "grapes": 40
}
print(f"Original inventory: {inventory_kg}")

apple_count = inventory_kg.pop("apples")
print(f"Removed apples: {apple_count}")
print(f"updated inventory: {inventory_kg}")

Original inventory: {'apples': 50, 'bananas': 30, 'oranges': 25, 'grapes': 40}
Removed apples: 50
updated inventory: {'bananas': 30, 'oranges': 25, 'grapes': 40}

**7. Get all keys from a dictionary and print them.**

In [30]:
student_result ={
    "shahriar" : 85,
    "Emon" : 75,
    "Nasim" : 80,
    "Tahia" : 76,
    "Ramim" : 78
}

print(f"Student Result: {student_result}")

all_key = student_result.keys()
print(f"All Keys are : {list(all_key)}")

Student Result: {'shahriar': 85, 'Emon': 75, 'Nasim': 80, 'Tahia': 76, 'Ramim': 78}
All Keys are : ['shahriar', 'Emon', 'Nasim', 'Tahia', 'Ramim']

**8. Get all values from a dictionary and print them.**

In [32]:
student_result ={
    "shahriar" : 85,
    "Emon" : 75,
    "Nasim" : 80,
    "Tahia" : 76,
    "Ramim" : 78
}
all_values = student_result.values()
print(f"Student results(values): {all_values}")

#max

print(f"Student results(values): {max(all_values)}")
#min

print(f"Student results(values): {min(all_values)}")

Student results(values): dict_values([85, 75, 80, 76, 78])
Student results(values): 85
Student results(values): 75

**9. Create a dictionary with names and ages, and find the average age.**

In [36]:
name_ages = {
    "shahriar" : 23,
    "Emon" : 24,
    "Nasim" : 25,
    "Tahia" : 25,
    "Ramim" : 27
}

print(f"Name and ages: {name_ages}")

ages = list(name_ages.values())
total_ages = sum(ages)
num_people = len(name_ages)
average_age = total_ages / num_people
print(f"Average age:  {average_age: .2f}")

Name and ages: {'shahriar': 23, 'Emon': 24, 'Nasim': 25, 'Tahia': 25, 'Ramim': 27}
Average age:   24.80

**10. Check if a specific key exists in the dictionary and print the result.**

In [42]:
movie_ratings = {
    "The Matrix": 8.7,
    "Inception": 8.8,
    "Interstellar": 8.6,
    "The Dark Knight": 9.0,
    "Pulp Fiction": 8.9
}

print(f"Movie ratings: {movie_ratings}")

movies_to_check = ["Inception", "Avatar", "The Matrix", "Titanic"]

print("Checking movie existence:")
for movie in movies_to_check:
    if movie in movie_ratings:
        rating = movie_ratings[movie]
        print(f" {movie}: {rating}/10")
    else:
        print(f" {movie}: Not in database")

Movie ratings: {'The Matrix': 8.7, 'Inception': 8.8, 'Interstellar': 8.6, 'The Dark Knight': 9.0, 'Pulp Fiction': 8.9}
Checking movie existence:
 Inception: 8.8/10
 Avatar: Not in database
 The Matrix: 8.7/10
 Titanic: Not in database