## **Tuples in Python**

**Definition** :
A **tuple** is an immutable collection of ordered items. Unlike lists, tuples cannot be modified after they are created.

**Syntax** :

To create a tuple, use parentheses `()`:
```python
my_tuple = (1, 2, 3, 4)

---

**Characterstics** :

- Ordered
- Unchangeble
- Allows duplicate

----

### **Creating a Tuple**

In [3]:
## Empty Tuple 

t1= ()

t1

()

In [6]:
## Tuple with a single item 

t1=(1)

print(t1) ## Notice it's not inside tuple ()
print(type(t1)) ## See it's an Int!!

1
<class 'int'>

In [7]:

t2=(1,2,3)

print(t2) ## its inside tuple ()

type(t2)

(1, 2, 3)

tuple

In [8]:
## Right way to create a single item tuple 

t1=(1,)

print(t1)
type(t1) # Now it's a tuple

(1,)

tuple

In [9]:
## homogeneous
t1=(1,2,3,4)
t1

(1, 2, 3, 4)

In [10]:
#hetro
print((1,2,3,4,(1,2,3,4))) ## just like lists
print((1,2,3,True,[1,2,3,4]))

(1, 2, 3, 4, (1, 2, 3, 4))
(1, 2, 3, True, [1, 2, 3, 4])

In [11]:
## Type conversion 

tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

### **Accessing Items**

In [12]:
##indexing
t1=(1,2,3,4,5,6)

print(t1[0])
print(t1[-1])

1
6

In [13]:
##Slicing

print(t1[0:4])
print(t1[0:4:2]) ## use of skip/step
print(t1[::-1]) ## reverse
print(t1[-1:-6:-1]) # use of negative

(1, 2, 3, 4)
(1, 3)
(6, 5, 4, 3, 2, 1)
(6, 5, 4, 3, 2)

In [14]:
t2=(1,2,3,(4,5,6))

t2[-1][0] ## Accessing 2D Tuple

4

### **Editing Items**

In [15]:
t=(1,2,3,3,45)

t[0]=100

## Look at the error,it's bcz tuple is not changeable

TypeError: 'tuple' object does not support item assignment

### **Adding Items**

In [ ]:
t=(1,2,3,3,45) 


## Again it's Not Possible since tuple is not changeable!

In [ ]:
t=[1,2,3,3,45]
t.append #Here you can see append() is available for list but not for tuple

### **Deleting Items**

In [17]:
## You can delete the entire tuple 
t=(1,2,3,3,45) 

print(t)

del t

print(t)

(1, 2, 3, 3, 45)

NameError: name 't' is not defined

In [18]:
## You cannot delete individual items

t=(1,2,3,3,45) 

del t[-1] 

## look at the error, particular item delete isnt psbl

TypeError: 'tuple' object doesn't support item deletion

### **Operations on Tuples**

In [19]:
## + and * 

t1=(1,2,3)
t2=(4,5,6)

t1+t2 ## Merge

(1, 2, 3, 4, 5, 6)

In [20]:
t1*3 ## repeat

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [21]:
## Membership (in , not in)

1 in t1

True

In [22]:
## Loops

t1=(1,2,3,4,5,6,7,8,9)

for i in t1:
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
## in case of 2D list

y=(4,5,6,(1,2,3))  

for item in y:
    if type(item) == tuple:
        for sub_item in item:
            print(sub_item)
    else:
        print(item)

### **Tuple Functions**

In [23]:
## len/sum/min/max/sorted

t=(1,2,3,4,5,9)

print(len(t))
print(max(t))
print(min(t))
print(sum(t)) ## also available in lists
print(sorted(t)) # converts into list
print(sorted(t,reverse=True))

6
9
1
24
[1, 2, 3, 4, 5, 9]
[9, 5, 4, 3, 2, 1]

In [24]:
## count 

t=(1,2,2,2,2,2,2,2,4,5,5,6)

t.count(2)

7

In [25]:
#index

t.index(1) ## tells you the index position of a particular item

0

---

### **Tuple Comprehension in Python**


**Syntax:**
```python
new_tuple = (expression for item in iterable if condition)

In [27]:
## Create a tuple of squares of numbers from 1 to 5:

squares = (x**2 for x in range(1, 6))

print(squares)
print(tuple(squares))  # Output: (1, 4, 9, 16, 25)

<generator object <genexpr> at 0x000001FD9D426A40>
(1, 4, 9, 16, 25)

---

### **Why Use Tuples in Python?**

1. **Immutability**
- Tuples can't be changed after creation, which helps protect data from accidental changes.
  
2. **Performance**
- Tuples are **faster** and **use less memory** than lists, making them better for storing fixed data.

3. **Simple Data Storage**
- Tuples are great for storing small, fixed groups of data, like a pair of coordinates or RGB values.

**Example:**
- **Storing Fixed Data**: Coordinates (latitude, longitude), RGB color values, etc.

```python
coordinates = (40.7128, 74.0060)  # New York City coordinates

---

# **Sets in Python**

### **What is a Set?**
A **set** is an **unordered** collection of **unique** elements. Sets **do not allow duplicate values** and the items are not stored in any specific order.

### **Syntax:**
```python
my_set = {1, 2, 3, 4}

### **Characterstics:**
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

---

### **Creating Sets**

In [28]:
## Empty 

s= {} ## Wrong way
s

{}

In [29]:
type(s) ## but python detects it as dict!!

dict

In [30]:
## Right way to create empty sets

s=set()
s

set()

In [31]:
## 1D 

s1= {1,2,3,4}
s1

{1, 2, 3, 4}

In [32]:
## 2D 

s2= {1,2,3,4,{2,3,4,5}} # bcz set itself is mutable

TypeError: unhashable type: 'set'

In [33]:
print({1,2,23,(1,2,34)}) # bcz tuple isnt mutable

{1, 2, 23, (1, 2, 34)}

In [35]:
print({0,2.5,"Hello",True,False}) ## Why 4 outputs?

{0, True, 2.5, 'Hello'}

In [37]:
## Type Conversion 

#set([1,2,3,4,5])
set([1,2,3,4,5,1,1,1,1,1,1])

{1, 2, 3, 4, 5}

### **Accessing Items**

In [38]:
s= {1,2,3,4,5}

s[0] ## see the error , it's bcz set doesnt follow order

## So in case of sets you can't do indexing or Slicing
## So, Accessing items in sets isnt allowed !!!

TypeError: 'set' object is not subscriptable

### **Editing Items**

In [39]:
s={1,2,3,4,5}
s[0]=100 ## again indexing not allowed
s

TypeError: 'set' object does not support item assignment

### **Adding Items**

In [40]:
## add() --> adds a single item

s={1,2,3,4}

s.add(9)

s # where is the new value getting added? hashing decides that

{1, 2, 3, 4, 9}

In [41]:
## Update --> To add multiple items

s={1,2,3,4}

s.update([5,6,7,8,9])

s

{1, 2, 3, 4, 5, 6, 7, 8, 9}

### **Deleting Items**

In [42]:
## del --> to delete the whole set

s={1,2,3,4}
del s
s

NameError: name 's' is not defined

In [52]:
## discard
s={1,2,3,4,5}
s.discard(4)
#s.discard(10) # doesnt do anything if the number doesnt exsist
s

{1, 2, 3, 5}

In [53]:
## remove

s={1,2,3,4,5}
s.remove(5)
#s.remove(40) ## throws error

s

{1, 2, 3, 4}

In [54]:
## pop --> Deletes randomly

s={1,2,3,4,5}

s.pop()

1

In [55]:
s={5,6,7,8,98}

s.pop()

98

In [56]:
## Clear --> Makes the set empty

s={5,6,7,8,98}

s.clear()

s

set()

### **Set Operations**

In [57]:
## Union(|)

s1={1,2,3,4,5,5,6}
s2={5,5,6,7,8,9,10}

s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [58]:
## Intersection (&)

s1 & s2

{5, 6}

In [59]:
# Difference (-)

s1 - s2 ## s1 er oi item ja s2 te not present

{1, 2, 3, 4}

In [60]:
s2-s1

{7, 8, 9, 10}

In [62]:
s1

{1, 2, 3, 4, 5, 6}

In [63]:
s2

{5, 6, 7, 8, 9, 10}

In [61]:
## Symmetric Difference (^)

s1 ^ s2

{1, 2, 3, 4, 7, 8, 9, 10}

In [64]:
## Membership 

1 in s1

True

In [66]:
s1

{1, 2, 3, 4, 5, 6}

In [65]:
## loops

for i in s1:
    print(i)

1
2
3
4
5
6

### **Set Functions**

In [67]:
## len/sum/min/max/sorted
s1={1,2,3,8,7,4,5,5,6}
s2={5,5,6,7,8,9,10}

print(max(s1))
print(min(s1))
print(len(s1))
print(sum(s1))
print(sorted(s1))

8
1
8
36
[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
## union 

s1={1,2,3,4,5,5,6}
s2={5,5,6,7,8,9,10}

s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [69]:
print(s1) ##Union doesnt affect original s1

{1, 2, 3, 4, 5, 6}

In [70]:
## update 

s1.update(s2)

s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [71]:
print(s1) ## update does affect original s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [72]:
## Intersection / Intersection Update

s1={1,2,3,4,5,5,6}
s2={5,5,6,7,8,9,10}

s1.intersection(s2)

{5, 6}

In [73]:
print(s1)

{1, 2, 3, 4, 5, 6}

In [74]:
s1.intersection_update(s2)

print(s1)

{5, 6}

In [ ]:
## difference / difference_update

## symmetric_difference/ symmetric_difference_update


#works exactly the same way , try it yourself!

In [75]:
##isdisjoint/issubset/issuperset

s1= {1,2,3,4,5}
s2={9,7,8,6}

s1.isdisjoint(s2) # disjoint means no items in common

True

In [76]:
## issubset

s1={1,2,3,4,5,6,7,8,9}
s2={1,2,3}

s2.issubset(s1)

True

In [77]:
## issubset

s1={1,2,3,4,5,6,7,8,9}
s2={1,2,3}

s1.issubset(s2)

False

In [79]:
## issuperset

s1={1,2,3,4,5,6,7,8,9}
s2={1,2,3}

s2.issuperset(s1)

False

In [ ]:
## copy 

s1={1,2,34,4,5}

s2=s1.copy()

s2

### **Set Comprehension**

In [80]:
#example 

{i for i in range( 1, 11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [81]:
{i for i in range( 1, 11) if i%2==0}

{2, 4, 6, 8, 10}

---

Some common **use cases** of sets in Python:

### 1. **Removing Duplicates from a List**
- Sets are useful for removing duplicate elements because they only store unique values.
  
**Example:**
```python
my_list = [1, 2, 3, 3, 4, 5, 5]
my_set = set(my_list)
print(my_set)  # Output: {1, 2, 3, 4, 5}
```

### 2. **Checking Membership**
- You can use sets to check if an item exists, and this is more efficient than using a list due to the faster lookup time in sets.

**Example:**
```python
my_set = {1, 2, 3, 4}
print(3 in my_set)  # Output: True
print(5 in my_set)  # Output: False
```

### 3. **Set Operations (Union, Intersection, Difference)**
- Sets allow mathematical set operations like **union**, **intersection**, and **difference**, which can be helpful for problems that involve comparing data.

**Example:**
```python
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Union (all elements from both sets)
print(set1 | set2)  # Output: {1, 2, 3, 4, 5, 6}

# Intersection (common elements)
print(set1 & set2)  # Output: {3, 4}

# Difference (elements in set1 but not in set2)
print(set1 - set2)  # Output: {1, 2}
```

### 4. **Eliminating Duplicates in Function Arguments**
- When you receive a list of arguments in a function, you can convert it to a set to eliminate duplicates automatically.

**Example:**
```python
def unique_elements(*args):
    return set(args)

print(unique_elements(1, 2, 3, 2, 1))  # Output: {1, 2, 3}
```

### 5. **Data Validation**
- Sets can be used for data validation, ensuring that only unique values are stored or processed.

**Example:**
```python
allowed_values = {1, 2, 3, 4}
input_value = 5

if input_value in allowed_values:
    print("Valid input!")
else:
    print("Invalid input!")
```

### 6. **Finding Unique Items in Multiple Lists**
- Sets are great for finding unique items across multiple lists.

**Example:**
```python
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]

unique_items = set(list1) | set(list2)  # Union of both lists
print(unique_items)  # Output: {1, 2, 3, 4, 5, 6}
```

---

### Summary of Use Cases:
- **Removing duplicates** from lists or other iterables.
- **Efficient membership testing** (faster than lists).
- Performing **mathematical set operations** like union, intersection, and difference.
- **Data validation** and ensuring only unique values are allowed.

----

## **What is a Dictionary?**

A **dictionary** is a collection of **key-value pairs**. Each key is unique and is associated with a value. Unlike lists or tuples, dictionaries are **unordered** and do not allow duplicate keys.

### **Syntax:**

A dictionary is created using curly braces `{}`, with each key-value pair separated by a colon `:`.

```python
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
```

### **Key Characteristics:**
- **Keys**: Unique identifiers used to access values.
- **Values**: The data associated with each key.
- **Unordered**: The order of elements in a dictionary is not guaranteed (Python 3.7+ does maintain insertion order, but it's not something to rely on in earlier versions).
- **Mutable**: You can modify the dictionary (add, remove, or update key-value pairs).


### **Use Case:**
- **Storing Data**: Dictionaries are commonly used to store data that has a relationship between keys and values, such as user information or configuration settings.

### **Summary:**
- **Dictionaries** store **key-value pairs**.
- Keys are **unique**, and you can use them to access values.
- **Mutable** and **unordered** (until Python 3.7+).
- Methods like `.keys()`, `.values()`, `.items()`, and `.get()` are useful for accessing data.

---

### **Creating a Dictionary**

In [82]:
## Empty dict 
d={}

type(d)

dict

In [83]:
# 1D Dict

my_dict={"name":"DS360","platform":"Online"}

my_dict

{'name': 'DS360', 'platform': 'Online'}

In [84]:
#2d Dict

student = {
     "name":"Alice",
     "sem":"5",
     "courses":{
         "Algo":70,
         "AI":80
     }
}

student

{'name': 'Alice', 'sem': '5', 'courses': {'Algo': 70, 'AI': 80}}

In [85]:
## using dict function 

d= dict([("name","DS360"),("Platform","Online")]) 

d

{'name': 'DS360', 'Platform': 'Online'}

In [86]:
## You cannot have duplicate keys 

d= {"name":"ds360","name":"online"}

d # recent one gets printed by updating first one

{'name': 'online'}

In [ ]:
## Mutable Items as Keys arent allowed 

d2={(1,2,3):"DS360"} # tuple allowed as it's not mutable
d2

{(1, 2, 3): 'DS360'}

In [88]:
d2={[1,2,3]:"DS360"} #list not allowed as it's mutable
d2

TypeError: unhashable type: 'list'

### **Accessing Items**

In [93]:
my_dict={"name":"Alice","age":26}

## indexing not allowed cz unordered 

my_dict["age"] ## we can access using "key"

26

In [91]:
## get 

my_dict.get("name")

'Alice'

In [95]:
#2d Dict

student = {
     "name":"Alice",
     "sem":"5",
     "courses":{
         "Algo":70,
         "AI":80
     }
}

student["courses"]["Algo"]

70

### **Adding Key-Value Pair**

In [96]:
my_dict={"name":"Alice","age":26}

my_dict["gender"]="Female"

my_dict

{'name': 'Alice', 'age': 26, 'gender': 'Female'}

In [97]:
#2d Dict

student = {
     "name":"Alice",
     "sem":"5",
     "courses":{
         "Algo":70,
         "AI":80
     }
}

student["courses"]["Ds"]=90

student

{'name': 'Alice', 'sem': '5', 'courses': {'Algo': 70, 'AI': 80, 'Ds': 90}}

### **Removing Key-Value Pair**

In [98]:
## pop 

d={'name': 'Alice', 'age': 26, 'gender': 'Female'}

d.pop("name") ## pass the key you want to remove

print(d)

{'age': 26, 'gender': 'Female'}

In [100]:
## popitem

d={'name': 'Alice', 'age': 26, 'gender': 'Female'}
d.popitem() ## deletes the last pair

d

{'name': 'Alice', 'age': 26}

In [101]:
## del --> delete whole dict

d={'name': 'Alice', 'age': 26, 'gender': 'Female'}

del d 

d

NameError: name 'd' is not defined

In [102]:
### del --> for specific key-value pair
d={'name': 'Alice', 'age': 26, 'gender': 'Female'}
del d["name"]

d

{'age': 26, 'gender': 'Female'}

In [103]:
#clear 

d={'name': 'Alice', 'age': 26, 'gender': 'Female'}

d.clear()

d

{}

### **Editing Key-Value Pair**

In [105]:
#2d Dict

student = {
     "name":"Alice",
     "sem":"5",
     "courses":{
         "Algo":70,
         "AI":80
     }
}


#student["sem"]=9

student["courses"]["AI"]=100


student

{'name': 'Alice', 'sem': '5', 'courses': {'Algo': 70, 'AI': 100}}

### **Dict Operations**

In [107]:
## Membership 

#2d Dict

student = {
     "name":"Alice",
     "sem":"5",
     "courses":{
         "Algo":70,
         "AI":80
     }
}


"Alice" in student ## will return false cause dict is all about keys

#"name" in student

False

In [108]:
## Loops

d={'name': 'Alice', 'age': 26, 'gender': 'Female'}

for i in d:
    print(i) 

## prints only the keys

name
age
gender

In [109]:
d={'name': 'Alice', 'age': 26, 'gender': 'Female'}

for i in d:
    print(i,d[i])

name Alice
age 26
gender Female

### **Dictionary Functions**

In [110]:
## len / sorted / min / max

d={'name': 'Alice', 'age': 26, 'gender': 'Female'}

print(len(d))
print(sorted(d)) ## ASCHII
print(min(d))
print(max(d))

3
['age', 'gender', 'name']
age
name

In [111]:
## Items

d={'name': 'Alice', 'age': 26, 'gender': 'Female'}

d.items()

dict_items([('name', 'Alice'), ('age', 26), ('gender', 'Female')])

In [112]:
## keys 

d.keys()

dict_keys(['name', 'age', 'gender'])

In [113]:
d.values()

dict_values(['Alice', 26, 'Female'])

In [115]:
## update

d1={'name': 'Alice', 'age': 26, 'gender': 'Female'}
d2={'name': 'Robin', 'age': 20}

d1.update(d2)

print(d1)

{'name': 'Robin', 'age': 20, 'gender': 'Female'}

### **Dict Comprehension**


![image.png]()

In [116]:
## print 1st 10 number and their squares

## 1:1 , 2:4 , 3:9 

{i:i**2 for i in range (1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# Existing dictionary
my_dict = {"a": 1, "b": 2, "c": 3, "d": 4}

# Using dictionary comprehension to square the values
squared_dict = {key: value+1 for key, value in my_dict.items()}

print(squared_dict)  # Output: {'a': 1, 'b': 4, 'c': 9, 'd': 16}

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [ ]:
## try using any example with if condition